body {
    font-family: 'Roboto', sans-serif;
}

main {
    margin-top: 6rem;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
}

.img-stack {
    max-width: 200px;
    max-height: 200px;
}

.carousel-item {
    height: auto;
}


.carousel-control-prev {
    left: -3rem;
}

.carousel-control-next {
    right: -3rem;
}


.carousel-indicators {
    bottom: -60px;
}