body {
    font-family: 'Roboto', sans-serif;
}

main {
    margin-top: 6rem;
}

/* navbar */
.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
}

/* stack carousel */
.carousel-item {
    height: auto;
}

.carousel-control-prev {
    margin-left: -3rem;
}

.carousel-control-next {
    margin-right: -3rem;
}

.carousel-indicators {
    margin-bottom: -40px;
}

.img-stack {
    max-width: auto;
    max-height: 140px;
}

/* work section */
#work {
    margin: 10rem auto;
}


@media screen and (min-width: 1200px) {

    /* carousel */
    .img-stack {
        max-width: 180px;
    }

}